@(title: String,subTitle: String, nav: String, css: Html = Html(""), scripts: Html = Html(""), bodyClass : String = "")(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        
        <!-- STYLESHEETS -->
        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-3.3.2/css/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-3.3.2/css/bootstrap-theme.css")">
        <!-- CUSTOM -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/rest-api-icon.png")">
        @css
        
    </head>
    <body class=@bodyClass>
        @navbar(title, nav)
        <div class="container">
            <div class="row">
                <div class="col-md-12 column">
                @content
                </div>
            </div>
        </div>
        <!-- SCRIPTS -->
        <!-- JQUERY -->
        <script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
        <!-- BOOTSTRAP -->
        <script src="@routes.Assets.at("stylesheets/bootstrap-3.3.2/js/bootstrap.js")"></script>
        @scripts
    </body>
</html>
